.git
.editorconfig
.idea
.npmrc
*.crt
*.key
*.pem
npm-debug.log
.env
backup/*
coverage
dist
logs
.history
!dist/.gitkeep
node_modules/
tmp

cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
tsconfig.tsbuildinfo
!jest.config.js
!setup.js
.eslintcache

sessions/*/**
